In [1]:
import pandas as pd 

df_a = pd.read_json('A0007IT.json')


data.head()

,Time_Departure,Time_Arrival,Distance,Time_Driving,Speed_Per_Hour,Address1,Address2,Signaltype,Weekday,Hour,Day
0,35:21.0,55:22.6,12914.0,1201.534058,38.692536,경기도,광명시,7,0,5,20
1,55:22.0,09:06.9,7483.0,823.817017,32.699980,서울특별시,영등포구,31,0,5,20
2,13:46.0,22:32.9,8087.0,526.710998,55.273575,경기도,김포시,6,0,0,20
3,13:43.0,28:42.7,10528.0,898.581970,42.178456,경기도,광주시,2,0,0,20
4,01:57.0,17:58.2,10636.0,957.758972,39.978326,경기도,안산시 상록구,28,0,0,20