In [5]:
pip install pandas

Requirement already satisfied: pandas in /home/jackchun/works/aice/venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/jackchun/works/aice/venv/lib/python3.13/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/jackchun/works/aice/venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/jackchun/works/aice/venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/jackchun/works/aice/venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/jackchun/works/aice/venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
file_path = 'datasets/winequality-white.csv'
data = pd.read_csv(file_path)
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,quality,alcohol
0,7.0,0.27,0.36,20.7,45.00,45.0,170.0,1.001,3.00,0.45,6,"R$ 45.512,00"
1,6.3,0.30,0.34,1.6,49.00,14.0,132.0,994.000,3.30,0.49,6,"R$ 45.421,00"
2,8.1,0.28,0.40,6.9,0.05,30.0,97.0,9.951,3.26,0.44,6,"R$ 45.301,00"
3,7.2,0.23,0.32,8.5,58.00,47.0,186.0,9.956,3.19,0.40,6,"R$ 45.544,00"
4,7.2,0.23,0.32,8.5,58.00,47.0,186.0,9.956,3.19,0.40,6,"R$ 45.544,00"

In [17]:
excel = 'datasets/Online Retail.xlsx'
retail_data1 = pd.read_excel(excel, sheet_name='Online Retail')
print(retail_data1.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [19]:
import requests 

url_json = "https://jsonplaceholder.typicode.com/todos"
response = requests.get(url_json)
todos_data = response.json()
df_todos = pd.DataFrame(todos_data)
print(df_todos.head())

   userId  id                                              title  completed
0       1   1                                 delectus aut autem      False
1       1   2                 quis ut nam facilis et officia qui      False
2       1   3                                fugiat veniam minus      False
3       1   4                                   et porro tempora       True
4       1   5  laboriosam mollitia et enim quasi adipisci qui...      False

In [20]:
import sqlite3 

local_file = "datasets/Chinook_Sqlite.sqlite"
conn = sqlite3.connect(local_file) 
query = "SELECT * from Customer" 
df_customers = pd.read_sql_query(query, conn) 
conn.close()
print(df_customers.head())

   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.

                           Address                 City State         Country  \
0  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP          Brazil
1          Theodor-Heuss-Straße 34            Stuttgart  None         Germany
2                1498 rue Bélanger             Montréal    QC          Canada
3                 Ullevålsveien 14                 Oslo  None          Norway
4                    Klanova 9/506               Prague  None  Czech Republic

  PostalCode               Phone                 Fax  \
0  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1      70174    +49 0711 2842222                None
2    H2G 1A7   +1 (514) 721-4711                None
3       0171     +47 22 44 22 22                None
4      14700    +420 2 4172 5555    +420 2 4172 5555

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4

In [25]:
pip install lxml

Collecting lxml
  Downloading lxml-5.4.0-cp313-cp313-manylinux_2_28_x86_64.whl.metadata (3.5 kB)
Downloading lxml-5.4.0-cp313-cp313-manylinux_2_28_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 11.2 MB/s eta 0:00:00a 0:00:01
Installing collected packages: lxml
Successfully installed lxml-5.4.0
Note: you may need to restart the kernel to use updated packages.

In [26]:
import lxml

url_html = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"
tables = pd.read_html(url_html) 
gdp_table = tables[2]
print(gdp_table)

    Country/Territory IMF[1][12]            World Bank[13]             \
    Country/Territory   Forecast       Year       Estimate       Year
0               World  113795678       2025      105435540       2023
1       United States   30507217       2025       27360935       2023
2               China   19231705  [n 1]2025       17794782  [n 3]2023
3             Germany    4744804       2025        4456081       2023
4               India    4187017       2025        3549919       2023
..                ...        ...        ...            ...        ...
205             Palau        333       2025            263       2023
206          Kiribati        312       2025            279       2023
207  Marshall Islands        297       2025            284       2023
208             Nauru        169       2025            154       2023
209            Tuvalu         65       2025             62       2023

    United Nations[14]
              Estimate       Year
0            100834796       2022
1             25744100       2022
2             17963170  [n 1]2022
3              4076923       2022
4              3465541       2022
..                 ...        ...
205                225       2022
206                223       2022
207                279       2022
208                147       2022
209                 59       2022

[210 rows x 7 columns]

In [27]:
import pandas as pd
file_path = 'datasets/winequality-white.csv'
data = pd.read_csv(file_path)
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,quality,alcohol
0,7.0,0.27,0.36,20.7,45.00,45.0,170.0,1.001,3.00,0.45,6,"R$ 45.512,00"
1,6.3,0.30,0.34,1.6,49.00,14.0,132.0,994.000,3.30,0.49,6,"R$ 45.421,00"
2,8.1,0.28,0.40,6.9,0.05,30.0,97.0,9.951,3.26,0.44,6,"R$ 45.301,00"
3,7.2,0.23,0.32,8.5,58.00,47.0,186.0,9.956,3.19,0.40,6,"R$ 45.544,00"
4,7.2,0.23,0.32,8.5,58.00,47.0,186.0,9.956,3.19,0.40,6,"R$ 45.544,00"

In [28]:
quality_data = data['quality']
quality_data.head()

0    6
1    6
2    6
3    6
4    6
Name: quality, dtype: int64

In [57]:
wine_data = data
selected_columns = wine_data[['quality', 'pH']]
print(selected_columns.head())

   quality    pH
0        6  3.00
1        6  3.30
2        6  3.26
3        6  3.19
4        6  3.19

In [35]:
top_10_rows = wine_data[:10]
top_10_rows

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,quality,alcohol
0,7.0,0.27,0.36,20.7,45.00,45.0,170.0,1.001,3.00,0.45,6,"R$ 45.512,00"
1,6.3,0.30,0.34,1.6,49.00,14.0,132.0,994.000,3.30,0.49,6,"R$ 45.421,00"
2,8.1,0.28,0.40,6.9,0.05,30.0,97.0,9.951,3.26,0.44,6,"R$ 45.301,00"
3,7.2,0.23,0.32,8.5,58.00,47.0,186.0,9.956,3.19,0.40,6,"R$ 45.544,00"
4,7.2,0.23,0.32,8.5,58.00,47.0,186.0,9.956,3.19,0.40,6,"R$ 45.544,00"
5,8.1,0.28,0.40,6.9,0.05,30.0,97.0,9.951,3.26,0.44,6,"R$ 45.301,00"
6,6.2,0.32,0.16,7.0,45.00,30.0,136.0,9.949,3.18,0.47,6,"R$ 45.452,00"
7,7.0,0.27,0.36,20.7,45.00,45.0,170.0,1.001,3.00,0.45,6,"R$ 45.512,00"
8,6.3,0.30,0.34,1.6,49.00,14.0,132.0,994.000,3.30,0.49,6,"R$ 45.421,00"
9,8.1,0.22,0.43,1.5,44.00,28.0,129.0,9.938,3.22,0.45,6,"R$ 11,00"

In [40]:
value = wine_data.iloc[0, 1]
print(value)

0.27

In [49]:
high_quality = wine_data[wine_data['quality'] >= 7]
high_quality.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,quality,alcohol
13,6.6,0.16,0.40,1.5,44.0,48.0,143.0,9.912,3.54,0.52,7,"R$ 45.394,00"
15,6.6,0.17,0.38,1.5,32.0,28.0,112.0,9.914,3.25,0.55,7,"R$ 45.393,00"
17,6.2,0.66,0.48,1.2,29.0,29.0,75.0,9.892,3.33,0.39,8,"R$ 45.516,00"
20,6.2,0.66,0.48,1.2,29.0,29.0,75.0,9.892,3.33,0.39,8,"R$ 45.516,00"
21,6.4,0.31,0.38,2.9,38.0,19.0,102.0,9.912,3.17,0.35,7,"R$ 11,00"

In [55]:
high_quality_alcohol = wine_data[(wine_data['quality'] >= 8) & (wine_data['pH'] >= 3)]  
high_quality_alcohol.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,quality,alcohol
17,6.2,0.66,0.48,1.2,29.0,29.0,75.0,9.892,3.33,0.39,8,"R$ 45.516,00"
20,6.2,0.66,0.48,1.2,29.0,29.0,75.0,9.892,3.33,0.39,8,"R$ 45.516,00"
22,6.8,0.26,0.42,1.7,49.0,41.0,122.0,993.000,3.47,0.48,8,"R$ 45.422,00"
68,6.7,0.23,0.31,2.1,46.0,30.0,96.0,9.926,3.33,0.64,8,"R$ 45.483,00"
74,6.7,0.23,0.31,2.1,46.0,30.0,96.0,9.926,3.33,0.64,8,"R$ 45.483,00"